# LISTS

In [1]:
l=[1,3.3,"keerthi",[1,2,3]]
print(type(l))

<class 'list'>

In [2]:
l[3][2]

3

In [3]:
l[1]

3.3

In [4]:
l[3]

[1, 2, 3]

In [1]:
##sum of values in a list
l=[1,2,3,5,8]
s=0
for i in l:
    s=s+i
print(s)
print(sum(l)) #inbuilt sum() function

19
19

In [6]:
# abs ignores negative values and prints the same value in positive
a=-2.2
print(abs(a))
#round
print(round(a))
b=-2.8
print(round(b))

2.2
-2
-3

## builtin functions

In [7]:
b=[1,2,3]
len(b)

3

In [8]:
b=[1,2,3]
sum(b)

6

In [11]:
#chr()
chr(65)

'A'

In [10]:
#ord()
ord('A')

65

In [12]:
#bin()
bin(4)

'0b100'

In [13]:
#hex()

In [14]:
hex(12)

'0xc'

In [15]:
#sorted() .....ascending order
b=[1,2,55,63,0]
sorted(b)

[0, 1, 2, 55, 63]

In [16]:
#sorted()...descendiong order
sorted(b,reverse=True)

[63, 55, 2, 1, 0]

In [17]:
sorted(b,reverse=False) #ascending order

[0, 1, 2, 55, 63]

In [18]:
max(b) #maximum value

63

In [19]:
min(b) #minimum value

0

In [26]:
b[1::2] #stepcount with 2

[2, 63]

In [27]:
dir(list) #to display all clasess and methods

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [28]:
#using append,extend,insert we can add data or elements in to the list
#using clear,pop,remove we can delete the elements
#del deletes entire list
#index-prints index of particular value
#count-counts the particular element oif the list

In [32]:
l=[]
l.append(100)
l.append(200)
print(l)

[100, 200]

In [9]:
l.append(300)
l.append(400)
l.append([10,20])
print(l)

[[1, 2], 200, 300, [1, 2], 200, 300, 300, 400, 300, 400, [10, 20]]

In [14]:
l=[]
l.extend([30,40])
print(l)

[30, 40]

In [31]:
# program to append names and age into the list
name=[]
age=[]
n=int(input())
for i in range(1,n):
    a=input()
    b=input()
    name.append(a)
    age.append(b)
print(name)
print(age)

4
def
3
hjg
6
jhg
6
['def', 'hjg', 'jhg']
['3', '6', '6']

In [8]:
l=[1,2,3,4,5]
l.insert(4,10)
print(l)
print(l.index(10))

[1, 2, 3, 4, 10, 5]
4

In [10]:
l=[1,2,3,4]
l.reverse()
l

[4, 3, 2, 1]

In [12]:
l.sort(reverse=True)
l

[4, 3, 2, 1]

In [14]:
l.sort()
l

[1, 2, 3, 4]

In [15]:
l.sort(reverse=False)
l

[1, 2, 3, 4]

In [44]:
l=[1,2,3,4,5]
l.pop() # it deletes last element of the list
print(l)
l.pop(2) #deletes element at the index 2
print(l)
l=[10,20,30,40,50]
l.remove(30) # we remove the element dierectly
print(l)
l.clear() #clears all the elemnts in the list
print(l)
a=[1,2,3,3,2,4,2,4,5,5]
a.count(4)

[1, 2, 3, 4]
[1, 2, 4]
[10, 20, 40, 50]
[]

2

In [57]:
l=[1,2,3,4,5]
print(l.index(3))
print(l.index(5,3))

2
4

In [39]:
l=[2,3,4,1,4]
b=l
print(l)
print(b)
l[0]=100
print(l)
print(b)

[2, 3, 4, 1, 4]
[2, 3, 4, 1, 4]
[100, 3, 4, 1, 4]
[100, 3, 4, 1, 4]

In [41]:
l=[1,2,3,4]
a=l.copy()
print(l)
print(a)
a[0]=20
print(a)
print(l)

[1, 2, 3, 4]
[1, 2, 3, 4]
[20, 2, 3, 4]
[1, 2, 3, 4]

# TUPLE

In [58]:
#()
#immutable
#methods index, count
#packing and unpacking

In [59]:
t=(1,2,3)
t[0:]

(1, 2, 3)

In [68]:
print(sum(t))
print(len(t))
print(t.count(1))
print(t.index(1))

6
3
1
0

In [64]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

## packing and unpacking

In [69]:
a=("keerthi","42213567342")
(name,mobile)=a
print(name)
print(mobile)

keerthi
42213567342

# DICTIONARIES

In [72]:
#unordered set of  key and values pair set
#represent with {}
# {key1:value1,key2:value2}
#Mutable
#key value pair is known as item

In [73]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [95]:
d={"name":"keerthi","roll":"1212","age":17}
print(d.values())
print(d.keys()) 
print(d.items())
print(d["name"])
d["name"]="sai"
print(d.values())
d["gender"]="F"
print(d.items())
print(d.get("age"))
print(d.update({"name":"abc"}))

dict_values(['keerthi', '1212', 17])
dict_keys(['name', 'roll', 'age'])
dict_items([('name', 'keerthi'), ('roll', '1212'), ('age', 17)])
keerthi
dict_values(['sai', '1212', 17])
dict_items([('name', 'sai'), ('roll', '1212'), ('age', 17), ('gender', 'F')])
17
None

In [98]:
l=[1,2]
a=[4,4]
x=dict(zip(l,a))
x

{1: 4, 2: 4}

In [99]:
x=dict(zip(a,l))
x

{4: 2}

# PROGRAMS

In [1]:
## check whether the given number is in range or not
## lb=lowerbound=30
## ub=upperbound=50
def ranges(n):
    lb=int(input())
    ub=int(input())
    if (n>=lb and n<=ub):
        print("it is between 30 and 50")
    else:
        print("it is not in between 30 and 50")
ranges(10)

30
50
it is not in between 30 and 50

In [2]:
ranges(45)

30
50
it is between 30 and 50

In [22]:
#calculate the no of digits in a number
def number(n):
    count=0
    while(n>0):
        n=n//10
        count=count+1
    print(count)
number(12345)
##or
len(str(432))

5

3

In [33]:
#print the leap years within the given range
def year(a,b):
    for i in range(a,b+1):
        if(i%400==0) or (i%4==0 and i%100!=0):
            print(i)
year(1990,2020)

1992
1996
2000
2004
2008
2012
2016
2020

In [10]:
## write a program to check it is a prime or not
def isprime(n):
    count=0
    for i in range(2,n//2+1):
        if(n%i==0):
            count=count+1
    if count==0:
        return True
    else:
        return False
isprime(41)

True

In [11]:
isprime(15)

False

In [12]:
# print prime numbers in the given range
def prime(a,b):
    for i in range(a,b+1):
        if isprime(i):
            print(i)
prime(2,50)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [23]:
#check if a given string equal to number or not
b="two"
a=2
if str(b)==a:
    print("is equal")
else:
    print("not equal")

not equal

In [26]:
# program to check perfect number or not
def perfectnumber(n):
    sum=0
    for i in range(1,n):
        if(n%i==0):
            sum=sum+i
    if(sum==n):
        return True
    else:
         return False
perfectnumber(496)

True

In [27]:
#perfect numbers in given range 1 1000
def perfectnumbers(a,b):
    for i in range(a,b+1):
        if perfectnumber(i):
            print(i)
perfectnumbers(1,1000)

6
28
496

In [35]:
#given two variables if one of them is 10 or
#their sum equals to 10 return true
#else return false
def number(a,b):
    if (a==10 and b==10) or (a+b==10):
        return True
    else:
        return False
number(10,10)

True

In [36]:
number(5,6)

False

In [37]:
# concatinate two strings
# using "+" operand
str1="hello"
str2="world"
str1+str2

'helloworld'

In [39]:
l=[1,2,3,4,5]
l.sort()
l

[1, 2, 3, 4, 5]

In [58]:
# msort the list in ascending  order
#maximum value of list
#min value of list
#second largest value of list
def list(li):
    li.sort(reverse=False)
    print(li)
    print(max(li))
    print(min(li))
    print(li[-1])
    print(li[-2])
list([1,4,6,2])

[1, 2, 4, 6]
6
1
6
4

In [60]:
#unique list
def li():
    li=[2,3,4,2,3,4]
    l=[]
    for i in li:
        if i not in l:
            l.append(i)
    print(l)
li()

[2, 3, 4]

In [7]:
## k=[2,4,4,4,6,6,3]
## print unique list=[2,3,4,6]
## sort the list
## max and min elements
## second largest element
def k():
    k=[2,4,4,4,6,6,3]
    l=[]
    for i in k:
        if i not in l:
            l.append(i)
    print(l)
    print(sorted(l))
    print(max(l))
    print(min(l))
    print(l[-1])
k()

[2, 4, 6, 3]
[2, 3, 4, 6]
6
2
3